<footer>
    <div class="footer__wrap">
        <div class="footer__up">
            <div class="footer__logo">
                <img src="../../../assets/images/footer-logo.png" alt=""/>
            </div>
            <p>Join The Gang</p>
            <ul class="footer__links">
                <li><a href="https://twitter.com/FAKTURY_" target="_blank"><img src="../../../assets/images/twitter.svg"/></a></li>
                <li><a href="https://discord.com/invite/t7kpgd4WAD" target="_blank"><img src="../../../assets/images/discord.svg"/></a></li>
            </ul>
        </div>
        <div class="footer__bottom">
            <div class="footer__text">
                <p>© FAKTÜRY 2022. All rights reserved.</p>
            </div>
            <div class="footer__bottom__image">
                <div class="footer__content">
                    <p>Made with</p>
                </div>
                <div class="footer__image"><img src="../../../assets/images/footer-image1.svg" alt=""/></div>
                <div class="footer__image"><img src="../../../assets/images/footer-image2.svg" alt=""/></div>
                <div class="footer__image"><img src="../../../assets/images/footer-image3.svg"  alt=""/></div>

            </div>
            <div class="footer__navigation">
                <ul>
                    <li><a routerLink="/privacy">Privacy Policy</a></li>
                    <li><a routerLink="/disclaimer">Disclaimer</a></li>
                    <li><a href="../../../assets/images/provisional-patent.pdf" target="_blank">Provisional patent</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

