<main>
    <section class="auction--section">
        <div class="container">
            <div class="auction__head">
                <h2>Auction House</h2>
            </div>
            <div class="auction__wrap">
                <div class="auction__box" *ngFor="let auction of auctions; let i = index" >
                    <div class="auction__box__head">
                        <div class="auction__image" *ngIf="auction.file && (auction.file.includes('.jpg') || auction.file.includes('.gif') || auction.file.includes('.bmp') || auction.file.includes('.png')); else videoElement">
                            <img src="{{imageBaseUrl + auction.file }}">
                        </div>
                        <ng-template class="auction__image" #videoElement>
                            <video class="auctionVideo" controls="false" [autoplay]="false" loop>
                                <source src="{{imageBaseUrl + auction.file}}" type="video/mp4">
                                Your browser does not support the video tag.
                              </video>
                        </ng-template>
                    </div>
                    <h6 class="auctionTitle">{{auction.title}}</h6>
                    <div class="wrapper">
                        <div class="countdown-container" class="countdown-container">
                            <h5>Time Remaing :</h5>
                            <article class="countdown" [innerHtml]="auction.timer">
                            </article>
                        </div>
                    </div>
                    <div class="auction__box__main">
                        <div class="highest__bid" *ngIf="auction.winner && auction.winner.length > 0">
                            <div class="bid__text">
                                <p>Winner is :</p>
                            </div>
                            <div class="bid__desc">
                                <div class="desc__image__class">
                                    <img src="../../../assets/images/head-image.svg">
                                </div>
                                <div class="desc__text">
                                    <p>{{obscureEmail(auction.winner[0].email)}}</p>
                                    <p>Amount = {{auction.winner[0].xrpBid}} XRP</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box__offer" *ngIf="userRole !== 'Admin' && !showAuctionForm[i]">
                        <div class="offer__btn" *ngIf="auction.status == 'active'">
                            <a href="javascript:;"  [ngClass]="{'auctionExpired': auction.timer.includes('Expired')}" (click)="auction.timer.includes('Expired') || isLoggedIn() ? '' : showAuctionForm[i] = !showAuctionForm[i]">OFFER</a>
                        </div>
                        <div class="offer__btn" *ngIf="auction.status == 'purchased'" >
                            <a href="javascript:;" class="auctionExpired">PURCHASED</a>
                        </div>
                    </div>
                    
                    <div class="auction__box__form" *ngIf="showAuctionForm[i]">
                        <form class="auction__form" [formGroup]="bidForm">
                            <div class="form-group">
                                <input type="text"  id="xrp__address" placeholder="XRP Address" class="form-control" formControlName = "address"
                                [ngClass]="{ 'is-invalid': g['address'].touched && g['address'].errors }">
                              <span *ngIf="g['address'].touched && g['address'].errors?.['required']" class="invalid-feedback">
                                XRP Address is required
                              </span>
                            </div>
                            <div class="form-group">
                                <input type="email" id="email__address" readonly [(ngModel)]="userEmail"
                                class="form-control" placeholder="Email Address" formControlName = "email">
                            </div>
                            <div class="form-group">
                                <input type="number" id="bid__fak" placeholder="Bid in FAK" class="form-control" formControlName = "fakBid" 
                                [ngClass]="{ 'is-invalid': g['fakBid'].touched && g['fakBid'].errors }">
                                <span *ngIf="g['fakBid'].touched && g['fakBid'].errors?.['required']" class="invalid-feedback">
                                    Bid in FAK is required
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="number" id="bid__xrp" placeholder="Bid in XRP" class="form-control" formControlName = "xrpBid" 
                                [ngClass]="{ 'is-invalid': g['xrpBid'].touched && g['xrpBid'].errors }">
                                <span *ngIf="g['xrpBid'].touched && g['xrpBid'].errors?.['required']" class="invalid-feedback">
                                    Bid in XRP is required
                                </span>
                            </div>
                            <div class="auction__checkbox">
                                <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                                <label for="styled-checkbox-1">No Maximum Bid</label>
                            </div>
                        </form>
                        <div class="submit__btn">
                            <button (click)="bidsForm(auction._id, bidForm.value)">Submit</button>

                        </div>
                    </div>
                    <br>
                    <ul class="actionsButton" *ngIf="(auth.isAuthenticated$ | async) && userRole == 'Admin'">
                        <li>
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#auctionModal"(click)=" updateAuction(auction)" >Update</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#myModal" (click)="getBid(auction._id)">View Bids</a>
                        </li>
                        <li>
                            <a href="javascript:;" style="color: red" (click)="removeAuction(auction._id)">Delete</a>
                        </li>
                    </ul>
                      <!-- Bids Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                    
                            <!-- Modal Header -->
                            <div class="modal-header">
                            <h4 class="modal-title">All Bids</h4>
                            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body">
                                <table class="table text-center" *ngIf="bids && bids.length > 0; else noThings">
                                    <thead>
                                        <tr>
                                        <th>AuctionId</th>
                                        <th>Email</th>
                                        <th>XrpBid</th>
                                        <th>FakBid</th>
                                        <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bid of bids; let i = index" >
                                        <td>{{bid.auctionId}}</td>
                                        <td>{{bid.email}}</td>
                                        <td>{{bid.xrpBid}}</td>
                                        <td>{{bid.fakBid}}</td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <a (click)="editBid(bids[i], auction)" class="a_btn">Approve ?</a>
                                                </li>
                                            </ul>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ng-template #noThings>
                                    <div class="text-center">
                                        No Bids
                                    </div>
                                </ng-template>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                    
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <br>
    <div class="buy__btn text-center mb-5" *ngIf="(auth.isAuthenticated$ | async) && userRole == 'Admin'">
        <a  data-bs-toggle="modal" data-bs-target="#auctionModal" (click)="changeTitle('Add Auction')" href="javascript:;">Add Auction</a>
    </div>
      
<!-- add auction form -->
<div class="modal fade" id="auctionModal" tabindex="-1" aria-labelledby="auctionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="auctionModalLabel">{{formTitle}}</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
        </div>
        <div class="modal-body">
            <form class="login__form" [formGroup]="auctionForm" >
  
                <div class="form-group">
                    <input type="hidden" formControlName="_id" class="form-control">
                    <label for="f-name">Title</label>
                    <input type="text" id="f-name" class="form-control" formControlName="title"
                    [ngClass]="{ 'is-invalid': f['title'].touched && f['title'].errors }">
                  <span *ngIf="f['title'].touched && f['title'].errors?.['required']" class="invalid-feedback">
                    Title is required
                  </span>
                </div>
                <div class="form-group">
                    <label for="image" class="form-label">Image OR Video</label>
                    <input type="file" formControlName="file" class="form-control" (change)="onFileChange($event)">
                </div>
                 <img [src]="fileSrc" *ngIf="fileSrc" class="mb-2 imageStyling">
                 <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label">Expiry time</label>
                    <input type="text" autocomplete="off" formControlName="expiryTime" class="form-control" id="inputPassword4" 
                    bsDatepicker [bsConfig]="{ isAnimated: true }" placement="bottom" [outsideClick]="true">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <input type="text" formControlName="description" class="form-control" id="inputPassword4">
                </div>
                  <button [hidden]="!auctionForm.valid" class="submit_button"(click)="formTitle=='Add Auction'? onSubmit(auctionForm.value) : onUpdate()">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="auctions && auctions.length == 0 && userRole != 'Admin'">
    <h6 class="noData">Coming Soon.</h6>
</div>
</main>