<main>
    <section class="shop--section">
        <div class="container">
            <div class="shop__head">
                <h2>The Shop</h2>
            </div>
            <div class="shop__wrap">
                <ng-container *ngIf="products && products.length > 0">
                <div class="shop__box" *ngFor="let product of products;let i = index">
                    <div class="shop__box__main">
                        <div class="box__image">
                            <div class="swiper-container">
                                <div class="swiper-wrapper" *ngIf="product.file && !product.file.includes('.mp4')">
                                    <div class="swiper-slide">
                                        <img src="{{imageBaseUrl + product.file }}">
                                    </div>
                                </div>
                                <div class="swiper-wrapper" *ngIf="product.file && product.file.includes('.mp4')">
                                    <div class="swiper-slide">
                                        <video class="shopVideo" controls="false" autoplay="autoplay" loop>
                                            <source src="{{imageBaseUrl + product.file}}" type="video/mp4">
                                            Your browser does not support the video tag.
                                          </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop__box__desc">
                        <h3>{{product.title}}</h3>
                        <span class="productPrice">$ {{product.price}}.00</span>
                        <div class="show__cont">
                            <a class="showBtn" (click)="showProductDes[i] = !showProductDes[i]">Description</a>
                            <div class="hideme" *ngIf="showProductDes[i]">
                                <p>{{product.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="shop__box__bottom" *ngIf="userRole !== 'Admin'">
                        <div class="shop__count">
                            <p>{{orders[i]}} of {{product.quantity}}</p>
                        </div>
                        <div ngbDropdown class="buy__btn">
                            <a href="javascript:;" id="dropdownBasic1" (click)="buyProduct()" ngbDropdownToggle *ngIf="product.quantity !== orders[i];else soldOut">Buy Now  </a>
                            <ng-template #soldOut>
                                <button class="sold__btn" href="javascript:;">Sold Out  </button>
                            </ng-template>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="userEmail && userEmail !== undefined">
                            <form target="_blank">
                                <button ngbDropdownItem class="paymentBtn" (click)="xummPage(product.xummLink)">Pay with Xumm</button>
                            </form>
                            <button ngbDropdownItem class="paymentBtn" data-bs-toggle="modal" data-bs-target="#stripeModal" (click)="setProductValue(product.title, product.price, product.isDigital, product._id, product.image)" >Pay with Stripe</button>
                            </div>
                            <!-- Stripe form -->
                            <div class="modal fade" id="stripeModal" tabindex="-1" aria-labelledby="stripeModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h6 class="modal-title" id="stripeModalLabel"> Pay with Stripe</h6>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
                                </div>
                                <div class="modal-body">
                                    <h6 class="modal-title"> {{productTitle}}</h6>
                                    <h6 class="modal-title" class="modalProductPrice"> ($ {{productPrice}}.00)</h6>
                                    <form class="login__form" [formGroup]="stripeForm" (ngSubmit)="createStripeToken(stripeForm.value)" id="payment-form">
                                            <div class="form-group">
                                                <label for="first-name">First Name</label>
                                                <input type="text" id="first-name" class="form-control" formControlName="firstName"
                                                [ngClass]="{ 'is-invalid': g['firstName'].touched && g['firstName'].errors }">
                                                <span *ngIf="g['firstName'].touched && g['firstName'].errors?.['required']" class="invalid-feedback">
                                                    First Name is required
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="last-name">Last Name</label>
                                                <input type="text" id="last-name" class="form-control" formControlName="lastName"
                                                [ngClass]="{ 'is-invalid': g['lastName'].touched && g['lastName'].errors }">
                                                <span *ngIf="g['lastName'].touched && g['lastName'].errors?.['required']" class="invalid-feedback">
                                                    Last Name is required
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="text" id="email" class="form-control" formControlName="email" readonly value="{{userEmail}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">XRPL Address</label>
                                                <input type="text" id="email" class="form-control" formControlName="xrplAddress"
                                                [ngClass]="{ 'is-invalid': g['xrplAddress'].touched && g['xrplAddress'].errors }">
                                                <span *ngIf="g['xrplAddress'].touched && g['xrplAddress'].errors?.['required']" class="invalid-feedback">
                                                    XRPL Address is required
                                                </span>
                                            </div>
                                            <div class="form-group" *ngIf="!isDigital">
                                                <!-- <input type="hidden" formControlName="_id" class="form-control"> -->
                                                <label for="f-name">Shipping Address</label>
                                                <input type="text" id="f-name" class="form-control" formControlName="shippingAddress">
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" formControlName="_id" class="form-control">
                                                <label for="f-name">Billing Address</label>
                                                <input type="text" id="f-name" class="form-control" formControlName="billingAddress"
                                                [ngClass]="{ 'is-invalid': g['billingAddress'].touched && g['billingAddress'].errors }">
                                                <span *ngIf="g['billingAddress'].touched && g['billingAddress'].errors?.['required']" class="invalid-feedback">
                                                    Billing Address is required
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <div id="card-element"></div>
                                                <span id="card-errors" class="text-danger" role="alert" *ngIf="cardError && cardError !== true">
                                                  {{ cardError }}
                                                </span>
                                              </div>
                                            <button class="submit_button" [disabled]="cardError || stripeForm.invalid">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <ul class="actionsButton" *ngIf="(auth.isAuthenticated$ | async) && userRole == 'Admin'">
                        <li>
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="updateProduct(product)">Update</a>
                        </li>
                        <li style="margin-left: auto">
                            <a href="javascript:;" style="color: red" (click)="removeProduct(product._id)">Delete</a>
                        </li>
                    </ul>
                </div>
                </ng-container>
                <ng-container *ngIf="products && products.length == 0 && userRole !== 'Admin'">
                    <h6 class="noData">Check back later, no data found.</h6>
                </ng-container>
            </div>
        </div>
        
    </section><br>
    <div class="buy__btn text-center mb-5">
        <a  data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="changeTitle('Add Product')" href="javascript:;" *ngIf="(auth.isAuthenticated$ | async) && userRole == 'Admin'">Add Product</a>
    </div>
      
<!-- add Product form -->
 <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModal2Label">{{formTitle}}</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
        </div>
        <div class="modal-body">
            <form class="login__form" [formGroup]="productForm" >
  
                    <div class="form-group">
                        <input type="hidden" formControlName="_id" class="form-control">
                        <label for="f-name">Title</label>
                        <input type="text" id="f-name" class="form-control" formControlName="title"
                        [ngClass]="{ 'is-invalid': f['title'].touched && f['title'].errors }">
                      <span *ngIf="f['title'].touched && f['title'].errors?.['required']" class="invalid-feedback">
                        Title is required
                      </span>
                    </div>
                    <div class="form-group">
                        <label for="image" class="form-label">Image OR Video</label>
                        <input type="file" formControlName="file" class="form-control" (change)="onFileChange($event)">
                    </div>
                <img [src]="fileSrc" *ngIf="fileSrc" class="mb-2 imageStyling">
                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': f['description'].touched && f['description'].errors }" id="inputPassword4">
                    <span *ngIf="f['description'].touched && f['description'].errors" class="invalid-feedback">
                      <span *ngIf="f['description'].errors['required']">Description is required</span>
                   </span>
                  </div>
                  <div class="form-group">
                    <label for="priceField" class="form-label">Price</label>
                    <span class="inputPrice">$</span><input type="number" formControlName="price" class="inputPadding form-control" 
                    [ngClass]="{ 'is-invalid': f['price'].touched && f['price'].errors }" id="priceField">
                    <span *ngIf="f['price'].touched && f['price'].errors" class="invalid-feedback">
                      <span *ngIf="f['price'].errors['required']">Price is required</span>
                    </span>
                   </div>
                   <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" class="form-control" formControlName="quantity"
                    [ngClass]="{ 'is-invalid': f['quantity'].touched && f['quantity'].errors }">
                  <span *ngIf="f['quantity'].touched && f['quantity'].errors?.['required']" class="invalid-feedback">
                    Quantity is required
                  </span>
                </div>
                <div class="form-group">
                    <label for="xumm">Xumm Link</label>
                    <input type="text" id="xumm" class="form-control" formControlName="xummLink">
                </div>
                <div class="auction__checkbox mb-2">
                    <input class="styled-checkbox mr-1" formControlName="isDigital" id="styled-checkbox-1" type="checkbox">
                    <label for="styled-checkbox-1">is Digital ?</label>
                </div>
                  <button [hidden]="!productForm.valid" class="submit_button"(click)="formTitle=='Add Product'? onSubmit(productForm.value) : onUpdate()">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div> 
</main>
