<main>
    <section class="shop--section">
        <div class="container">
            <div class="shop__head">
                <h2>The Shop</h2>
            </div>
            <div class="shop__wrap">
                <div class="shop__box" *ngFor="let product of products;let i = index">
                    <div class="shop__box__main">
                        <div class="box__image">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img src="{{imageBaseUrl + product.image }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop__box__desc">
                        <h3>{{product.title}}</h3>
                        <span class="productPrice">$ {{product.price}}.00</span>
                        <div class="show__cont">
                            <a class="showBtn" (click)="showProductDes[i] = !showProductDes[i]">Description</a>
                            <div class="hideme" *ngIf="showProductDes[i]">
                                <p>{{product.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="shop__box__bottom" *ngIf="userRole !== 'Admin'">
                        <div class="shop__count">
                            <p>{{product.quantity}} of 10,000</p>
                        </div>
                        <div ngbDropdown class="buy__btn">
                            <a href="javascript:;" id="dropdownBasic1" (click)="buyProduct()" ngbDropdownToggle>Buy Now  </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="userEmail && userEmail !== undefined">
                                <button ngbDropdownItem class="paymentBtn">Pay with Xumm</button>
                                <button ngbDropdownItem class="paymentBtn" data-bs-toggle="modal" data-bs-target="#stripeModal" (click)="clickEvent(product.title, product.price)" >Pay with Stripe</button>
                            </div>
                            <!-- Stripe form -->
                            <div class="modal fade" id="stripeModal" tabindex="-1" aria-labelledby="stripeModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h6 class="modal-title" id="stripeModalLabel"> Pay with Stripe</h6>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
                                </div>
                                <div class="modal-body">
                                    <h6 class="modal-title"> {{productTitle}}</h6>
                                    <h6 class="modal-title" class="modalProductPrice"> ($ {{productPrice}}.00)</h6>
                                    <form class="login__form" [formGroup]="stripeForm" (ngSubmit)="createStripeToken(stripeForm.value)" id="payment-form">
                        
                                            <div class="form-group">
                                                <!-- <input type="hidden" formControlName="_id" class="form-control"> -->
                                                <label for="f-name">Shipping Address</label>
                                                <input type="text" id="f-name" class="form-control" formControlName="shippingAddress"
                                                [ngClass]="{ 'is-invalid': g['shippingAddress'].touched && g['shippingAddress'].errors }">
                                                <span *ngIf="g['shippingAddress'].touched && g['shippingAddress'].errors?.['required']" class="invalid-feedback">
                                                    Shipping Address is required
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" formControlName="_id" class="form-control">
                                                <label for="f-name">Billing Address</label>
                                                <input type="text" id="f-name" class="form-control" formControlName="billingAddress"
                                                [ngClass]="{ 'is-invalid': g['billingAddress'].touched && g['billingAddress'].errors }">
                                                <span *ngIf="g['billingAddress'].touched && g['billingAddress'].errors?.['required']" class="invalid-feedback">
                                                    Billing Address is required
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <div id="card-element"></div>
                                                <span id="card-errors" class="text-danger" role="alert" *ngIf="cardError && cardError !== true">
                                                  {{ cardError }}
                                                </span>
                                              </div>
                                            <button class="submit_button" [disabled]="cardError || stripeForm.invalid">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <br>
                    <div class="actionsButton" *ngIf="(auth.isAuthenticated$ | async) && userRole == 'Admin'">
                        <li>
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="updateProduct(product)">Update</a>
                        </li>
                        <li>
                            <a href="javascript:;" style="color: red" (click)="removeProduct(product._id)">Delete</a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        
    </section><br>
    <div class="buy__btn text-center mb-5">
        <a  data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="changeTitle('Add Product')" href="javascript:;" *ngIf="(auth.isAuthenticated$ | async) && userRole == 'Admin'">Add Product</a>
    </div>
      
<!-- add Product form -->
 <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModal2Label">{{formTitle}}</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
        </div>
        <div class="modal-body">
            <form class="login__form" [formGroup]="productForm" >
  
                    <div class="form-group">
                        <input type="hidden" formControlName="_id" class="form-control">
                        <label for="f-name">Title</label>
                        <input type="text" id="f-name" class="form-control" formControlName="title"
                        [ngClass]="{ 'is-invalid': f['title'].touched && f['title'].errors }">
                      <span *ngIf="f['title'].touched && f['title'].errors?.['required']" class="invalid-feedback">
                        Title is required
                      </span>
                    </div>
                <div class="form-group">
                    <label for="images" class="form-label">Image</label>
                    <input type="file" formControlName="image" class="form-control" (change)="onFileChange($event)">
                </div>
                <img [src]="imageSrc" *ngIf="imageSrc" class="mb-2 imageStyling">
                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': f['description'].touched && f['description'].errors }" id="inputPassword4">
                    <span *ngIf="f['description'].touched && f['description'].errors" class="invalid-feedback">
                      <span *ngIf="f['description'].errors['required']">Title is required</span>
                   </span>
                  </div>
                  <div class="form-group">
                    <label for="priceField" class="form-label">Price</label>
                    <input type="number" formControlName="price" class="form-control" 
                    [ngClass]="{ 'is-invalid': f['price'].touched && f['price'].errors }" id="priceField">
                    <span *ngIf="f['price'].touched && f['price'].errors" class="invalid-feedback">
                      <span *ngIf="f['price'].errors['required']">Price is required</span>
                    </span>
                   </div>
                   <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" class="form-control" formControlName="quantity"
                    [ngClass]="{ 'is-invalid': f['quantity'].touched && f['quantity'].errors }">
                  <span *ngIf="f['quantity'].touched && f['quantity'].errors?.['required']" class="invalid-feedback">
                    Quantity is required
                  </span>
                </div>
                  <button [hidden]="!productForm.valid" class="submit_button"(click)="formTitle=='Add Product'? onSubmit(productForm.value) : onUpdate()">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div> 
</main>
