<main>
    <section class="banner--section">
        <div class="container">
            <div class="banner__wrap">
                <div class="side__text">
                    <h3>WELCOME</h3>
                </div>
                <div class="banner__back">
                    <img src="../../../assets/images/banner-bg.png">
                </div>
                <div class="banner__image">
                    <img src="../../../assets/images/banner-image.png">
                </div>
                <div class="banner__coin">
                    <img src="../../../assets/images/banner-coin.png">
                </div>
                <div class="banner__text">
                    <p>An exclusive streetwear brand that can be worn in the Metaverse and IRL</p>
                </div>
            </div>
            <video class="banner__video" width="400" autoplay muted loop >
                <source src="../../../assets/images/banner-video.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video>
            <video class="banner__mob" width="400" autoplay muted loop>
                <source src="../../../assets/images/banner-mob.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video>
        </div>
    </section>

    <section class="slide-option">
        <div id="infinite" class="highway-slider">
            <div class="container highway-barrier">
                <ul class="highway-lane">
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>

                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                    <li class="highway-car"><img src="../../../assets/images/slide-logo.png" alt=""/></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="about" class="vision--section">
        <div class="vision__wrap">
            <div class="vision__head">
                <h2>VISION</h2>
            </div>
            <div class="vision__text">
                <p>FAKTÜRY represents a streetwear brand that releases exclusive products through limited quantity drops. Each product purchased will have an NFT (non-fungible token) that reflects the purchase. These NFT's are designed to eventually be used as wearables in the Metaverse on avatars. The item(s) purchased will be unique to the original minting # given at launch, will give access to special privileges, as well as apply a rarity factor. The native token $FAKTURY, will be used by holders for payments, staking, and access to members-only events and promotions.</p>
            </div>
        </div>
    </section>

    <section class="faktury--section">
        <div class="container">
            <div class="faktury__head">
                <h2>The FAKTÜRY Way</h2>
            </div>
            <div class="faktury__wrap">
                <div class="faktury__image">
                    <img src="../../../assets/images/faktury-image.png">
                </div>
                <div class="faktury-text">
                    <p>We will never promise anything we can not guarantee. Our Mission is to become a catalyst for culture, community and innovation. This will be executed by delivering the best quality products and drip that can be used in real life and also on your avatars as they enter into the metaverse. We have partnered with some of the largest projects and will continue to make our way as a leader in the space, by providing phygital fashion with powers. All of which started with our provisional patented technology.</p>
                </div>
            </div>
            <div class="faktury__bottom">
                <div class="faktury__logo1">
                    <a href="https://sologenic.org/trade?network=mainnet&market=46414B5455525900000000000000000000000000%2BrNwBNkHz3ZAnx77XFjGR8nRnZHw4gKgmpr%2FXRP" target="_blank">
                        <img src="../../../assets/images/faktury-logo1.svg">
                    </a>
                </div>
                <div class="faktury__logo2">
                    <a href="https://dex.xrdoge.com/" target="_blank">
                        <img src="../../../assets/images/faktury-logo2.svg">
                    </a>
                </div>
                <div class="faktury__logo3">
                    <a href="https://dex.onxrp.com/?project=FAKTURY" target="_blank">
                        <img src="../../../assets/images/faktury-logo3.svg">
                    </a>
                </div>
                <div class="faktury__logo4">
                    <a href="https://defi.swft.pro/#/" target="_blank">
                        <img src="../../../assets/images/faktury-logo4.svg">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="flight--section">
        <div class="container">
            <div class="flight__head">
                <h2>Take Flight</h2>
            </div>
            <div class="flight__wrap">
                <div class="flight__content">
                    <div class="flight__image">
                        <img src="../../../assets/images/flight-image1.png">
                    </div>
                    <h3>Earth</h3>
                    <ul>
                        <li>Token Airdrop</li>
                        <li>Public Relations</li>
                        <li>Decentralized Exchange listings</li>
                        <li>NFT DROPs</li>
                    </ul>
                </div>
                <div class="flight__content">
                    <div class="flight__image">
                        <img src="../../../assets/images/flight-image2.png">
                    </div>
                    <h3>Moon</h3>
                    <ul>
                        <li>Centralized Exchange Listings</li>
                        <li>Website 2.0</li>
                        <li>DROP 0 - Diamond Collection</li>
                        <li>Cookie Algorithm</li>
                        <li>Native Marketplace</li>
                        <li>XLS-20D</li>
                    </ul>
                </div>
                <div class="flight__content">
                    <div class="flight__image">
                        <img src="../../../assets/images/flight-image3.png">
                    </div>
                    <h3>Faktura</h3>
                    <ul>
                        <li>Snowball Staking</li>
                        <li>Operation BYBAK & Airdrop</li>
                        <li>Augmented Reality Products & Wearables</li>
                        <li>More Dope $** OTW</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="swap" class="buy--section">
        <div class="container">
            <div class="buy__head">
                <div class="buy__head__text">
                    <h2>Buy FAKTÜRY</h2>
                </div>
                <div class="buy__head__button">
                    <div class="buy__head__btn">
                        <a href="https://xumm.app/detect/xapp:xumm.dex?base=FAKTURY+rNwBNkHz3ZAnx77XFjGR8nRnZHw4gKgmpr&quote=xrp" target="_blank">Xumm Purchase</a>
                    </div>
                </div>
            </div>
            <div class="buy__main">
                <div class="buy__wrap">
                    <div class="buy__left">
                        <div class="buy__left__image">
                            <img src="../../../assets/images/buy-left.svg">
                        </div>
                        <h3>TOKENOMICS</h3>
                        <p>Max Total Supply : <span>1,630</span></p>
                        <ul>
                            <li>
                                <div class="progress__image">
                                    <!--<img src="assets/images/progress1.svg">-->
                                    <div class="circle_percent" data-percent="50">
                                        <div class="circle_inner">
                                            <div class="round_per"></div>
                                        </div>
                                        <div class="circle_inbox">
                                            <span class="percent_text">50%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress__text">
                                    <p>Community Airdrop</p>
                                </div>
                            </li>
                            <li>
                                <div class="progress__image">
                                    <div class="circle_percent" data-percent="35">
                                        <div class="circle_inner">
                                            <div class="round_per"></div>
                                        </div>
                                        <div class="circle_inbox">
                                            <span class="percent_text">35%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress__text">
                                    <p>Marketing & Business Operation</p>
                                </div>
                            </li>
                            <li>
                                <div class="progress__image">
                                    <div class="circle_percent" data-percent="12">
                                        <div class="circle_inner">
                                            <div class="round_per"></div>
                                        </div>
                                        <div class="circle_inbox">
                                            <span class="percent_text">12%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress__text">
                                    <p>Founder</p>
                                </div>
                            </li>
                            <li>
                                <div class="progress__image">
                                    <div class="circle_percent" data-percent="3">
                                        <div class="circle_inner">
                                            <div class="round_per"></div>
                                        </div>
                                        <div class="circle_inbox">
                                            <span class="percent_text">3%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress__text">
                                    <p>Academia Crypto Research & Charity</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="buy__right">
                        <div class="right__box">
                            <div class="box__top">
                                <div class="head__left">
                                    <h3>Swap</h3>
                                </div>
                                <div class="head__right">
                                    <h3>FAKTÜRY</h3>
                                </div>
                            </div>
                            <div class="main__box">
                                <ul>
                                    <li>
                                        <div class="box__main__left">
                                            <div class="box__main__image">
                                                <img src="../../../assets/images/box-main1.svg">
                                            </div>
                                            <div class="box__left__text">
                                                <p>Balance : <span>0 XRP</span></p>
                                            </div>
                                        </div>
                                        <div class="box__main__right">
                                            <div class="box__right__head">
                                                <p>0</p>
                                            </div>
                                            <div class="box__right__text">
                                                <p>$ 0</p>
                                            </div>
                                        </div>
                                        <div class="box__main__arrow">
                                            <a href="javascript:;">
                                                <img src="../../../assets/images/box-main-arrow.svg">
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="box__main__left">
                                            <div class="box__main__image">
                                                <img src="../../../assets/images/box-main2.svg">
                                            </div>
                                            <div class="box__left__text">
                                                <p>Balance : <span>0 FAKTÜRY</span></p>
                                            </div>
                                        </div>
                                        <div class="box__main__right">
                                            <div class="box__right__head">
                                                <p>0</p>
                                            </div>
                                            <div class="box__right__text">
                                                <p>$ 0</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="main__box__text">
                                    <p>1 XRP = .0043 FAKTÜRY</p>
                                </div>
                                <div class="main__box__btn">
                                    <a href="javascript:;">Swap</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gang--section">
        <div class="container">
            <div class="gang__head">
                <h2>The Gang</h2>
            </div>
            <div class="gang__wrap">
                <div class="gang__top">
                    <div class="gang__leader">
                        <div class="gang__limg">
                            <img src="../../../assets/images/gang-member1.png" alt=""/>
                        </div>
                        <div class="gang__lcontent">
                            <h3>Ahmir Green <span>[CEO]</span></h3>
                            <div class="gang__lcontent__bottom">
                                <p>I BUILD</p>
                                <div class="gang__lcontent__image">
                                    <img src="../../../assets/images/gang-head.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gang__list">
                        <div class="list__member">
                            <div class="list__image">
                                <img src="../../../assets/images/gang-bottom.png" alt=""/>
                            </div>
                            <h4>Nifema</h4>
                            <span>Software Development</span>
                        </div>
                        <div class="list__member">
                            <div class="list__image">
                                <img src="../../../assets/images/gang-bottom2.png" alt=""/>
                            </div>
                            <h4>The Globe</h4>
                            <span>Marketing</span>
                        </div>
                        <div class="list__member">
                            <div class="list__image">
                                <img src="../../../assets/images/gang-bottom3.png" alt=""/>
                            </div>
                            <h4>Namoos</h4>
                            <span>Lead Backend Development</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="faq" class="faq--section">
        <div class="container">
            <div class="faq__main">
                <div class="faq__head">
                    <h2>FAQs</h2>
                </div>

                <div class="faq__container">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    How many items will be issued per DROP?
                                    <span class="fa-stack fa-sm">
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
          </span>
                                </button>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    DROP’s are composed of 5 products : 326 items each. Combined total of 1,630 items
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Does the FAKTURY token have any real utility?
                                    <span class="fa-stack fa-sm">
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
          </span>
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Yes! All holders of 0.5 FAKTURY or more, receive Pre-Launch Access to $HOP, it is
                                    a method of payment during DROP’s, and it will be imperative to hold for the wear to earn
                                    mechanism. More use cases yet to be released!
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How many tokens are in supply and is the issuer account blackholed?
                                    <span class="fa-stack fa-sm">
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
          </span>
                                </button>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    There are a whopping 1,630 total tokens. The issuer account has been blackholed,
                                    meaning no more tokens can be created.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="form--section" *ngIf="show">
        <div class="form__cross" >
            <a href="javascript:;" (click)="clickEvent()"><img src="../../../assets/images/form-cross.svg"></a>
        </div>
        <div class="form__head">
        <h2>Contact Us</h2>
        <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>-->
        </div>
        <form class="contact__form" [formGroup]="form" (submit)="contactUs()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Ahmir Green" class="form-control"
                formControlName="name" [ngClass]="{ 'is-invalid': f['name'].touched && f['name'].errors }">
                <span *ngIf="f['name'].touched && f['name'].errors?.['required']" class="invalid-feedback"> Name
                  is required</span>
                <span *ngIf="f['name'].touched && f['name'].errors?.['pattern']" class="invalid-feedback">Please enter
                  a valid name</span>
                  <span *ngIf="f['name'].touched && f['name'].errors?.['minlength']" class="invalid-feedback">First Name
                    should be 3 character long</span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Dummy321@gamil.com" class="form-control"
                formControlName="email" [ngClass]="{ 'is-invalid': f['email'].touched && f['email'].errors }">
                <span *ngIf="f['email'].touched && f['email'].errors?.['required']" class="invalid-feedback">Email is
                  required</span>
                <span *ngIf="f['email'].touched && f['email'].errors?.['pattern']" class="invalid-feedback">Please enter a valid
                  Email
                </span>
            </div>
            <div class="form-group">
                <label class="text__label">Message</label>
                <textarea class="form-control" placeholder="Write your text here..."
                id="message" formControlName="message"
                [ngClass]="{ 'is-invalid': f['message'].touched && f['message'].errors }"></textarea>
                <span *ngIf="f['message'].touched && f['message'].errors?.['required']" class="invalid-feedback">Message is
                  required</span>
                <span *ngIf="f['message'].touched && f['message'].errors?.['pattern']" class="invalid-feedback">Please enter a valid
                  Message
                </span>
                <span *ngIf="f['message'].touched && f['message'].errors?.['minlength']" class="invalid-feedback">Message should be 3 character long</span>
            </div>
            <div class="contact__form__btn">
                <a href="javascript:;" type="submit" (submit)="contactUs()">Send</a>
            </div>
        </form>
    </section>

    <section class="business--section" *ngIf="!show">
        <div class="business__button">
            <a href="javascript:void(0);" (click)="clickEvent()">Business Inquiries</a>
        </div>
    </section>
</main>