<main>


    <div class="Disclosure--section">
        <div class="container">
           <div class="Disclosure__text">
           <h2>Site Disclosure</h2>
               <h3>1. General Disclaimer</h3>
               <ul>
                   <li>By using our Site you are agreeing to be bound by following terms and conditions (“Terms). All
                       FAKTÜRY provides www.faktury.live/ (the “Site”) as a service to the public. All FAKTÜRY
                       is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of
                       use, reference to, or reliance on any information contained within this website. While the
                       information contained within this website is periodically updated, no guarantee is given that the
                       information provided in this website is correct, complete, and up-to-date.</li>
               </ul>
               <h3>2. Limitation of Liability</h3>
               <ul>
                   <li>To the maximum extent permitted by applicable law, in no event shall the Site or its agents
                       be liable for any direct, indirect, special, punitive, incidental, exemplary, or consequential
                       damages, or any damages whatsoever resulting from any loss of use, loss of data, loss of profits,
                       business interruption, litigation, or any other pecuniary loss, whether based on breach of contract, tort (including negligence), product liability, or otherwise arising out of or in any way
                       connected with the use, operation, or performance of the service, with the delay or inability to
                       use the service, any defects in the service, or with the provision of, or failure to make available,
                       any information, services, products, materials, or other resources available on or accessible
                       throughthe service, even if advised of the possibility of such damages.</li>
                    <li>2.2 The operation of the service – whether by the Site, or its vendors – may not be secure.
                       Security and privacy risks cannot be eliminated. Password protection and any other security measures may not prevent unauthorised access to materials.</li>
    
                    <li>With respect to products, or services purchased through the Site and vendors’ sites, in no
                       event shall the Site party be liable for any direct, indirect, special, punitive, incidental,
                       exemplary, or consequential damages, or any damages whatsoever, resulting from any loss of
                       use, loss of profits, litigation, or any other pecuniary loss, whether based on breach of contract,
                       tort (including negligence), product liability, or otherwise, arising out of or in any way connected
                       with the provision of or failure to make available any such products, goods, or services, even if
                       advised of the possibility of such damages.</li>
                    <li>Furthermore, the Site explicitly disclaims any responsibility for the accuracy, content, or
                       availability of information found on sites that link to or from the site from third parties. We
                       cannot be held responsible for the accuracy, copyright compliance, legality, or decency of
                       material contained in third-party sites, and you hereby irrevocably waive any claim against us
                       with respect to such sites.</li>
                    <li>Under no circumstances shall we or any other party involved in creating, producing, or
                       distributing the site be liable for any direct, indirect, incidental, special, or consequential
                       damages for loss of profits, good will, use, data or other intangible losses (even if we have been
                       advised of the possibility of such damages) that result from (i) the use of or inability to use the
                       site, (ii) the cost of procurement of substitute goods and services resulting from any data, information or
                       services purchased or obtained or messages received or transactions entered into through or from
                       the site; (iii) unauthorised access to or alteration of your registration information, transmissions
                       or data; (iv) statements or conduct of any third party on the site; (v) negligent or willful acts of
                       the Site, its representatives or (vi) any other matter relating to the site</li>
                   <li>You agree to indemnify and hold the Site and representatives harmless from any claim or
                       demand, including reasonable legal fees, made by any you or any third party due to or arising out
                       of the content you submit, post to or transmit through the site, your use of the site, your
                       connection to the site, your violation of the terms of use, or your violation of any rights of
                       another.</li>
                   <li>You acknowledge and agree that the limitations set forth above are fundamental elements of
                       this agreement and the service would not be provided to you absent such limitations.</li>
               </ul>
               <h3>3. Intellectual Property</h3>
               <ul>
                   <li>All rights in and to the Content and the Sites belong to All FAKTÜRY, or our third party
                       content providers and are protected by the Intellectual Property laws of the UK, US and other
                       countries. We may license third parties to use the Content at our sole discretion.</li>
                   <li>You may use the Sites and the Content solely for your own personal use and benefit and not
                       for resale or other transfer or disposition to any other person or entity. You may not use,
                       reproduce, modify, transfer, exploit, distribute or dispose of any Content for any commercial
                       purposes, whether direct or indirect, in any manner that might compete with our business
                       (including, without limitation, by making Content available to anyone).</li>
                   <li>Subject to the limitations in Clause 3.2 above, you may retrieve and display Content on a
                       computer screen or other digital device, print a single copy of individual pages on paper (but not
                       photocopy them) and store such pages in electronic form on disc or other digital media (but not
                       on any server or other storage device connected to a network).</li>
                   <li>Notwithstanding Clause 3.2, you may quote from extracts of the Content to the extent
                       permitted and strictly in accordance with any applicable Specific Terms, or as otherwise
                       permitted by law, on the condition that appropriate source and copyright attribution is given in
                       each case.</li>
                   <li>Any trademarks/logos appearing on the Site may belong to All FAKTÜRY, or third parties.
                   All product and company names are trademarks or registered trademarks of their respective
                   holders. Use of them does not imply any affiliation with or endorsement by them. None of these
                   marks may be used without the express prior written permission of the respective owners.</li>
    
                   <li>Save for where provided otherwise in these Terms, distributing, sharing, copying, posting,
                       scanning, forwarding, selling, publishing, retransmitting or otherwise providing access to any
                       part
                       of the Content to anyone without our express prior written permission, is not authorised and may of the Content to anyone without our express prior written permission, is not authorised and may
                       AllFAKTÜRY_Website Disclosure 2 be a violation of national copyright laws, including without limitation 17 USC 101 et seq, and
                       the UK Copyright, Designs and Patents Act 1988.</li>
    
                   <li>Any request for permission to republish, reprint or use any articles from any of the Sites or
                       our trademarks for any purpose other than those permitted under this Clause 3 (or any relevant
                       Specific Terms) should be sent to faktury.official@gmail.com</li>
    
                   <li>For the avoidance of doubt, where the provisions of any applicable law prohibit the extent to
                       which certain activities can be restricted under this Clause 3, any such restrictions shall apply to
                       the fullest extent permitted in accordance with such law.</li>
               </ul>
               <h3>4. Your Obligations</h3>
               <ul>
                   <li>The Site is not intended for users of under thirteen (13) years of age, and such individuals are
                       not permitted to be Users. If individuals under thirteen (13) years of age wish to view Content on
                       the Site as a Visitor, their parent or guardian must agree to these Terms on their behalf.</li>
                   <li>You represent and warrant that: (a) you have the capacity to agree to these Terms; and (b)
                       you are at least thirteen (13) years of age.</li>
                   <li>You are responsible for procuring the necessary equipment and the payment of telephone, internet and other charges necessary to access and/or use any Site or Service. We are not
                       responsible for the reliability or continued availability of the telephone lines, internet and
                       equipment you use to access and/or use a Site or a Service.</li>
                   <li>Any Content sent for overseas delivery (including, without limitation, any Content for
                       delivery outside the European Union) may be subject to import duties and taxes collected at the
                       final destination. All sales or use taxes, import duties or additional customs charges must be
                       borne entirely by you. We have no control over these charges and we expressly disclaim any
                       responsibility or liability for them. Customs policies vary widely from country to country, so you
                       should contact your local customs office for further information.</li>
                   <li>Additionally, when ordering from our Site, you are considered the importer of record and
                       must comply with all law and regulations of the country in which you are receiving the goods.
                       International customers should be aware that cross-border deliveries are subject to opening and
                       inspection by customs authorities. We may provide certain order, delivery and product
                       information (such as the product's title) to our international carriers and such information may be
                       communicated by the carriers to customs authorities in order to facilitate customs clearance and
                       comply with local laws.</li>
               </ul>
               <h3>
                   5. Content by Email
               </h3>
               <ul>
                   <li>We may give you the option to request Content by email. We or our Third Party Service
                       providers may also send you emails to keep you updated on developments in the Sites and
                       Services. Your registration for and/or subscription to such an email Service and your use of the
                       Content received through these email Services will be subject to these Terms.</li>
                   <li>For the avoidance of doubt, although you may opt out of receiving promotional messages
                       under Clause 9.1, we retain the right to send you informational email messages about your
                       account or administrative notices regarding the Site, as permitted under the CAN-SPAM Act (15
                       U.S.C. §7701 et seq.) and other applicable laws.
                       6. Advertisements, Links and Third Party Transactions</li>
                   <li>A Site or a Service may contain: (a) links to External Sites. External Sites may advertise or
                       provide the opportunity for you to purchase Third Party Services; and/or (b) advertisements for,
                       and/or the opportunity for you to purchase Third Party Services or products or services from us.</li>
                   <li>The content of External Sites and Third Party Services is not maintained or controlled by us
                       and we are therefore not responsible for the availability, content or accuracy of External Sites or
                       Third Party Services. We do not (a) make any warranty, express or implied, with respect to the
                       use of the links provided on, or to, a Site or Service; (b) guarantee the accuracy, completeness,
                       usefulness or adequacy of External Sites or Third Party Services; or (c) make any endorsement,
                       express or implied, of any External Sites or Third Party Services. Any advertisement or
                       promotion on a Site of a Third Party Service is not an inducement by us for you to enter into any
                       agreement with the relevant third party.
                   </li>
                   <li>
                       Any communications or contracts relating to Third Party Services, payment for and delivery
                       of Third Party Services, and any other associated terms, conditions, warranties or representations
                       are exclusively between you and the relevant thirdparties. You agree not to hold us liable for any
                       loss or damage incurred as the result of any such contracts, communications or other dealings or
                       the presence of such third parties on any Site.
                   </li>
               </ul>
           </div>
        </div>
    </div>
    
    
    
    </main>