<main>
    <div class="Privacy--section">
        <div class="container">
            <div class="Privacy__text">
                <h2>Privacy Policy</h2>
                <p>FAKTURY LTD CO and the Sole Founder of FAKTÜRY represents and warrants that any
                    product sold is unique and original, does not infringe on any third-parties. FAKTURY LTD CO
                    and the Sole Founder of FAKTÜRY owns all legal rights, title, and interest in all intellectual
                    property rights underlying the digital artwork, physical products, and any other product sourced
                    through FAKTURY LTD CO, including but not limited to, copyrights, trademarks, and patented
                    material.
                </p>
                <p>
                    The Collector has a non-exclusive, worldwide, assignable, perpetual, and royalty-free license to
                    display the digital art work solely for non-commercial purposes, this right shall only be assigned
                    to a subsequent collector of the Digital Collectible simultaneously with the transfer of ownership
                    of the Digital Collectible and this agreement.
                </p>
            </div>
        </div>

    </div>
</main>