<header class="home">
    <div class="container">
        <div class="header__wrap">
            <div class="brand-logo">
                <a (click)="navigate('top')" class="navigateClass">
                    <img src="../../../assets/images/logo.svg" width="97" height="94" alt="faktury Logo"/>
                </a>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="https://faktury.gitbook.io/whitepaper/" target="_blank" (click)="removeNavigationClass()">Whitepaper</a></li>
                    <li><a (click)="navigate('faqs')" class="navigateClass">FAQs</a></li>
                    <li><a (click)="navigate('swap')" class="navigateClass">Swap</a></li>
                    <li><a (click)="navigate('about')" class="navigateClass">About</a></li>
                    <li><a  routerLink="/auction" routerLinkActive="active" (click)="removeNavigationClass()">Auction</a></li>
                    <li><a routerLink="/shop" routerLinkActive="active" (click)="removeNavigationClass()">Shop</a></li>
                    <li><a href="https://lnk.bio/faktury.dev" target="_blank" (click)="removeNavigationClass()">Metalink</a></li>
                    <li>
                        <div class="nav__m__buttons">
                            <div class="cta" *ngIf="(auth.isAuthenticated$ | async) === false">
                                <a class="btn__anchor" (click)="auth.loginWithRedirect()">Login</a>
                            </div>
                            <div class="cta" *ngIf="(auth.isAuthenticated$ | async) === false">
                                <a class="btn__anchor" (click)="auth.loginWithRedirect()">Sign Up</a>
                            </div>
                            <div class="cta">
                                <a href="javascript:" class="connect__btn">Connect Wallet</a>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="header__button">
                <div class="nav__buttons">
                    <div class="ctaa" *ngIf="(auth.isAuthenticated$ | async) === false">
                        <a class="btn__anchor" (click)="auth.loginWithRedirect()">Login</a>
                    </div> 
                    <div class="ctaa" *ngIf="(auth.isAuthenticated$ | async) === false">
                        <a class="btn__anchor" (click)="auth.loginWithRedirect()">Sign Up</a>
                    </div> 
                    <div class="cta">
                        <a href="javascript:void(0)" class="connect__btn" *ngIf="auth.isAuthenticated$ | async">Connect Wallet</a>
                    </div>
                    <div class="head__image" *ngIf="auth.isAuthenticated$ | async">
                        <a href="javascript:void(0)" (click)="hideElement()"><img src="../../../assets/images/head-image.svg"></a>
                        <div class="head__menu" [ngClass]="status ? 'block' : 'none'" >
                            <li><a routerLink="/collection" (click)="hideElement()">Profile <img src="../../../assets/images/acount-small.png"/></a></li>
                            <li (click)="logout()"><a>Logout <img src="../../../assets/images/logout.png"/></a></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toogle-wrap">
                <div class="toggle-menu" (click)="addNavigationClass()"><a href="javascript:void(0)"><span></span><span></span><span></span><span></span></a></div>
            </div>
        </div>
    </div>
</header>