<main>
    <section class="login--section mb-5 signup--section">
        <div class="form__head">
        <div class="form__content">
        <div class="form__text my-5">
            <h1 class="order-success__title">Thank you</h1>
            <h6>Your Order has been received</h6>
            <br><br>
            <div>
                <a routerLink="/" class="btn btn-xs btn-secondary my-3">Go To Homepage</a>
            </div>
            </div>
        </div>
        </div>
    </section>
</main>
